table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}
h3 {
    border-radius: 50px;
    padding: 4px 10px 4px 10px;
    max-width: fit-content;
}
.constituency-list {
    box-sizing: border-box;
}
.constituency-list ul {
    column-count: 3;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.constituency-list li {
    box-sizing: border-box;
    padding: 4px 10px 4px 10px;
}
.constituency-list a {
    display: block;
    padding: 4px 10px 4px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: Black;
}
.constituency-list a:hover {
    text-decoration: underline;
}
.grid-container {
    display: grid;
    grid-auto-flow: column;
}
.Con, .con {
    background-color: rgb(141,201,239);
}
.Lab, .lab {
    background-color: rgb(244,155,178);
}
.LD, .ld {
    background-color: rgb(252,210,140);
}
.SNP, .snp {
    background-color: rgb(253,243,142);
}
.Ref, .ref {
    background-color: rgb(138,219,231);
}
.Grn, .grn {
    background-color: rgb(147,218,185);
}
.PC, .pc {
    background-color: rgb(156,191,189);
}
.Oth, .min {
    background-color: rgb(208,208,208);
}
.WPB {
    background-color: rgb(205,161,173)
}
.Alba {
    background-color: rgb(150,189,226)
}
.UKIP {
    background-color: rgb(197,173,201)
}
.SDP {
    background-color: rgb(233,180,192)
}
.ConWon {
    background-color: #0087dc;
    color: white !important;
}
.LabWon {
    background-color: #e4003b;
    color: white !important;
}
.LDWon {
    background-color: #faa61a;
}
.SNPWon {
    background-color: rgb(249,217,0);
}
.RefWon {
    background-color: #12b6cf;
}
.GrnWon {
    background-color: #02a95b;
    color: white !important;
}
.PCWon {
    background-color: #004A43;
    color: white !important;
}
.OthWon {
    background-color: rgb(170,170,170);
}
.WPBWon {
    background-color: #780021;
    color: white !important;
}
.AlbaWon {
    background-color: #005eb8;
    color: white !important;
}
.UKIPWon {
    background-color: #6d3177;
    color: white !important;
}
.SDPWon {
    background-color: #CF5874;
    color: white !important;
}
.IndWon {
    background-color: rgb(238,157,203);
}
#Seat-Table {
    font-size: 1.25em;
    font-family: 'Calibri', sans-serif;
}
#ProjectionChart {
    max-width: 1000px;
    max-height: 600px;
}