<!DOCTYPE html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <h3>{{ constituency.get_region_display }}</h3>
    <h1>{{ constituency }}</h1>
    <h3 class="{{constituency.winner2019}}">Implied 2019 Winner: {{ constituency.get_winner2019_display }}</h3>
    <h3 class="{{pr_winnner}}">Projected Winner: {{ pr_winnner|long_party_name }}</h3>
    <h2>Current Projection: </h2>
    <canvas id="ProjectionChart"></canvas>
    <script>
        var ctx = document.getElementById('ProjectionChart').getContext('2d')
        var electionChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{% for party in projection %}'{{ party|medium_party_name }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                datasets: [{
                    label: 'Vote Share (%)',
                    data: [{% for voteshare in projection.values %}'{{ voteshare }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                    backgroundColor: [{% for party in projection %}'{{ party|party_colour }}'{% if not forloop.last %}, {% endif %}{% endfor %}],
                }]
            },
            options: {
                scales :{
                    y: {
                        display: true,
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Vote Share (%)'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: false
                    }
               }
            }
        });
    </script>
<!---
    Projection:
    <table>
        {% for party, voteshare in projection.items %}
        <tr>
            <td>
                {{ party|medium_party_name }}
            </td>
            <td>
                {{ voteshare|floatformat:1 }}%
            </td>
        </tr>
        {% endfor %}
    </table>
-->
    Demographic information:
    <table>
        <tr>
            <td rowspan="5">Voter Age</td>
            <td>&lt;25</td>
            <td>{{ constituency.age_under_25 }}%</td>
        </tr>
        <tr>
            <td>25-34</td>
            <td>{{ constituency.age_25_34 }}%</td>
        </tr>
        <tr>
            <td>35-49</td>
            <td>{{ constituency.age_35_49 }}%</td>
        </tr>
        <tr>
            <td>50-64</td>
            <td>{{ constituency.age_50_64 }}%</td>
        </tr>
        <tr>
            <td>65+</td>
            <td>{{ constituency.age_over_65 }}%</td>
        </tr>
        <tr>
            <td colspan="2">Non-UK Born</td>
            <td>{{ constituency.immigrant }}%</td>
        </tr>
        <tr>
            <td colspan="2">White</td>
            <td>{{ constituency.white }}%</td>
        </tr>
        <tr>
            <td rowspan="4">Religion</td>
            <td>Christianity</td>
            <td>{{ constituency.religion_christian }}%</td>
        </tr>
        <tr>
            <td>Islam</td>
            <td>{{ constituency.religion_islam }}%</td>
        </tr>
        <tr>
            <td>Hinduism</td>
            <td>{{ constituency.religion_hindu }}%</td>
        </tr>
        <tr>
            <td>Other</td>
            <td>{{ constituency.religion_other }}%</td>
        </tr>
    </table>
</body>

