<!DOCTYPE html>
<head>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>
<body>
    <h2>Current Projection: {{ overall_result.winner|medium_party_name }} {% if overall_result.majority >= 0 %} Majority of {{overall_result.majority}} {% else %} {{overall_result.majority|negate}} short of a Majority {% endif %}</h2>
    <table id="Seat-Table">
        <tr>
            <td>Party</td>
            <td>Declared</td>
            <td>Projected</td>
        </tr>
        {% for party in party_totals %}
            <tr>
                <td class="{{ party.party }}">{{ party.party|medium_party_name }}</td>
                <td class="{{ party.party }}" style="text-align: right;">{{ party.declared }}</td>
                <td class="{{ party.party }}" style="text-align: right;">{{ party.projected }}</td>
            </tr>
        {% endfor %}
        </table>
    <h2>Click on a constituency to view details</h2>
    <div class="constituency-list">
        <ul>
            {% for constituency in constituency_list %}
                <li>
                    <a href="{% url 'model:constituency' constituency.id %}" class = "
                        {% if constituency.result %} 
                            {{ constituency.result.winner }}Won
                        {% elif constituency.detailed_projection %} 
                            {{ constituency.detailed_projection.winner }}
                        {% elif constituency.basic_projection %}
                            {{ constituency.basic_projection.winner }}
                        {% else %} 
                            {{ constituency.winner2019 }}
                        {% endif %}
                    ">
                        {{constituency.name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
